/*@import "reset" if need this */
@import "normalize"
@import "fonts"
@import "libs"
@import "vars"
@import "_mixins/mixins"
@import "smart-grid"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

a, blockquote, h1, h2, h3, h4, h5, h6, p
	text-rendering: optimizeLegibility

.hidden
	display: none

.img-responsive
	display: block
	max-width: 100%
	height: auto

/* menuEight start  ======================================

.menu-link
	height: 120px
	padding-right: 30px
	padding-left: 30px

.menu-button
	width: 35px
	height: 30px
	top: 50%
	margin-top: -15px
	position: relative
	cursor: pointer
	display: inline-block
	span
		background-color: #FFF
		position: absolute
		border-radius: 2px
		transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4)
		width: 100%
		height: 4px
		&:nth-child(1)
			top: 0
			left: 0
		&:nth-child(2)
			top: 13px
			left: 0
		&:nth-child(3)
			bottom: 0
			left: 0
	&:not(.clickMenuEight):hover span
		&:nth-child(1)
			transform: scaleX(0.8)
		&:nth-child(2)
			transform: scaleX(0.5)
		&:nth-child(3)
			transform: scaleX(0.8)

.clickMenuEight span
	&:nth-child(1)
		top: 13px
	&:nth-child(2)
	&:nth-child(3)
		top: 13px

// menuEight end  ======================================

// header start  ==========================================

.main-header
	position: fixed
	display: flex
	align-items: center
	top: 0
	left: 0
	width: 100%
	height: 120px
	z-index: 4

.logo-wrap
	padding-right: 50px
	width: 230px
	height: 120px
	overflow: hidden
	cursor: pointer

.logo
	position: relative
	display: block
	width: 100%
	z-index: 5
	img
		width: 230px
		height: 120px

.main-nav
	position: relative
	z-index: 5

.nav
	display: flex
	align-items: center
	height: 120px
	&__list
		list-style-type: none
		margin: 0
		padding: 0
	&__item
		display: inline-block
		transition: all .15s ease-in-out
		&:hover
			.nav__link
				color: $accent
				&::before
					display: block

.nav__link
	position: relative
	z-index: 5
	display: block
	font-weight: bold
	color: #ffffff
	padding-left: 50px
	padding-right: 50px
	line-height: 120px
	vertical-align: middle
	letter-spacing: .2em
	text-transform: uppercase
	transition: all .15s ease-in-out
	&::before
		position: absolute
		top: calc(50% + 20px)
		left: calc(50% - 13px)
		display: none
		content: ''
		width: 16px
		height: 3px
		background-color: $accent
		transition: all .15s ease-in-out

// header end ==========================================

// media-hero start ==========================================

.content
	//position: relative
	//z-index: 1

.media-hero
	position: absolute
	top: 0
	left: 0
	+wrapper
	width: 100%
	height: 100vh
	z-index: 1
	margin-left: 10vh
	&__wrap
		+row-flex
		height: 100%
	&__center
		+size(6)
		align-items: center
		align-self: center
		color: #ffffff

.media-hero__title
	font-size: 70px
	text-transform: uppercase
	line-height: 1.1


.media-hero__country
	font-size: 28px
	display: inline-block
	line-height: 1.1
	margin-right: 20px
	padding-bottom: 20px

.media-hero__text
	font-size: 14px
	line-height: 1.8
	margin-bottom: 30px

.media-hero__link, .link
	position: relative
	display: inline-block
	text-transform: uppercase
	color: #ffffff
	padding-top: 10px
	letter-spacing: 4px
	font-weight: bold
	text-rendering: optimizelegibility
	transition: all .15s ease-in-out
	text-decoration: none
	outline: none
	&:hover
		color: $accent
		&::before
			width: 35px
			opacity: .75
	&::before
		content: ''
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		width: 100%
		height: 3px
		background-color: $accent
		transition: all .15s ease-in-out

.media-video
	display: block
	position: absolute
	top: 0
	left: 0
	object-fit: contain
	width: 100%
	height: auto
	max-height: calc(100% - 10px)
	vertical-align: baseline
	z-index: 0

.homepage-hero-module
	border-right: none
	border-left: none
	position: relative

.no-video .video-container video, .touch .video-container video
	display: none

.no-video .video-container .poster, .touch .video-container .poster
	display: block !important

.video-container
	position: relative
	bottom: 0%
	left: 0%
	height: 100%
	width: 100%
	overflow: hidden
	background: #000
	.poster img
		width: 100%
		bottom: 0
		position: absolute
	.filter
		z-index: 100
		position: absolute
		background: rgba(0, 0, 0, 0.4)
		width: 100%
	video
		position: absolute
		z-index: 0
		bottom: 0
		&.fillWidth
			width: 100%

// media-hero end ==========================================

// newsletter start ==========================================

.newsletter
	background-color: #1f1f1f
	padding: 100px 20px
	text-align: center
	color: #ffffff
	width: 100%
	&__wrap
		width: 100%

.newsletter__heading
	font-size: 42px
	text-transform: uppercase
	letter-spacing: 2.9px
	line-height: 1.2

.newsletter__subheading
	font-size: 18px
	text-transform: uppercase
	letter-spacing: 1.2px
	margin-bottom: 20px
	margin-top: 8px

.form
	text-align: center
	position: relative
	input[type='email']
		color: #828282
		background-color: #303030
		font-size: 18px
		padding: 15px 20px
		max-width: calc(100% - 50px)
		border: none!important
		vertical-align: top
		outline: none!important
		letter-spacing: 0.55px
		width: 485px
		&::-moz-focus-inner
			border: none!important
			outline: none!important
		&:focus, &:active
			border: none !important
			outline: none !important
			outline-offset: 0
	input[type='submit']
		position: relative
		left: -4px
		width: 54px
		height: 53px
		background-color: #303030
		cursor: pointer
		border: none

.input-wrap
	position: relative
	display: inline-block
	&::before
		content: '\f105'
		position: absolute
		display: inline-block
		top: 0
		left: 16px
		font-family: 'fontello', sans-serif
		font-size: 30px
		z-index: 2
		cursor: pointer

// newsletter end ==========================================

// news start ==========================================

.news
	padding: 9.5em 3.5em

.wrapper
	+wrapper
	text-align: center
	color: #444
	max-width: 700px !important

.news__heading
	font-size: 42px
	letter-spacing: 4px
	line-height: 1em
	text-transform: uppercase
	margin-bottom: 15px
	-ms-word-wrap:
	word-wrap: break-word
	font-weight: 300

.news__subheading
	font-size: 18px
	font-weight: 300
	letter-spacing: 1.8px
	line-height: 1.2em
	text-transform: uppercase
	word-wrap: break-word
	margin-bottom: 15px

.news__text
	font-size: 16.8px
	line-height: 1.5
	margin-bottom: 30px

.news__link
	color: inherit

// news end ==========================================










@import "media" // Всегда в конце
