/*@import "reset" if need this */
@import "normalize"
@import "fonts"
@import "libs"
@import "vars"
@import "_mixins/mixins"
@import "smart-grid"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

a, blockquote, h1, h2, h3, h4, h5, h6, p
	text-rendering: optimizeLegibility

.hidden
	display: none

.img-responsive
	display: block
	max-width: 100%
	height: auto

/* menuEight start  ======================================

.menu-link
	position: relative
	z-index: 11
	height: 120px
	padding-right: 30px
	padding-left: 30px

.menu-button
	width: 35px
	height: 30px
	top: 50%
	margin-top: -15px
	position: relative
	cursor: pointer
	display: inline-block
	span
		background-color: #FFF
		position: absolute
		border-radius: 2px
		transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4)
		width: 100%
		height: 4px
		&:nth-child(1)
			top: 0
			left: 0
		&:nth-child(2)
			top: 13px
			left: 0
		&:nth-child(3)
			bottom: 0
			left: 0
	&:not(.clickMenuEight):hover span
		&:nth-child(1)
			transform: scaleX(0.8)
		&:nth-child(2)
			transform: scaleX(0.5)
		&:nth-child(3)
			transform: scaleX(0.8)

.clickMenuEight span
	&:nth-child(1)
		top: 13px
	&:nth-child(2)
	&:nth-child(3)
		top: 13px

// menuEight end  ======================================

// header start  ==========================================

.main-header
	position: fixed
	display: flex
	align-items: center
	top: 0
	left: 0
	width: 100%
	height: 120px
	z-index: 10
	transition: all .2s ease

.main-header.top
	height: 60px!important
	overflow: hidden
	background-color: $accent
	.overlay
		top: 60px
		&::before
			top: 60px
	.nav__item
		transition: all .2s ease-in-out
		&:hover
			.nav__link
				color: #ffffff
				&::before
					background-color: #fff

.logo-wrap
	padding-right: 50px
	width: 230px
	height: 120px
	overflow: hidden
	cursor: pointer

.logo
	position: relative
	display: block
	width: 100%
	z-index: 11
	img
		width: 230px
		height: 120px

.main-nav
	position: relative
	z-index: 10

.nav
	display: flex
	align-items: center
	height: 120px
	&__list
		list-style-type: none
		margin: 0
		padding: 0
	&__item
		display: inline-block
		transition: all .2s ease-in-out
		&:hover
			.nav__link
				color: $accent
				&::before
					display: block

.nav__link
	position: relative
	z-index: 11
	display: block
	font-weight: bold
	color: #ffffff
	padding-left: 50px
	padding-right: 50px
	line-height: 120px
	vertical-align: middle
	letter-spacing: .2em
	text-transform: uppercase
	transition: all .15s ease-in-out
	&::before
		position: absolute
		top: calc(50% + 20px)
		left: calc(50% - 13px)
		display: none
		content: ''
		width: 16px
		height: 3px
		z-index: 11
		background-color: $accent
		transition: all .15s ease-in-out

// header end ==========================================

// overlay start ============================================

.overlay
	display: none
	width: 100%
	height: calc(100% - 40px)
	position: fixed
	top: 120px
	left: 0
	opacity: 1
	background-color: transparent
	z-index: 10
	&::before
		position: fixed
		content: ''
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: linear-gradient(to bottom,rgba(0,0,0,.95) 0,rgba(0,0,0,.95) 40%,rgba(0,0,0,.8) 100%)
		z-index: -10
	&__container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&-close
		position: absolute
		top: 31vw
		left: 0
		height: 73vh
		width: 100%
		z-index: 15

.mega-menu
	position: static
	display: flex
	width: 62%
	padding-top: 50px
	margin-bottom: 100px
	&__title, .mega-menu__title > a
		color: $accent
		display: inline-block
		font-size: 16px
		font-weight: 300
		letter-spacing: 5.5px
		line-height: 1.2
		margin-bottom: 15px
		margin-top: 0
		text-transform: uppercase
		transition: color .2s ease-in-out
		&:hover
			color: #aaaaaa
	&__list
		padding-left: 40px
		display: block
		width: 25%
		max-width: 285px
		min-height: 284px
		margin-bottom: 80px
		text-align: left
		list-style-type: none
	&__item
		display: block
	&__link
		display: inline-block
		color: #aaa
		font-size: 17px
		line-height: 1.5
		&:hover
			color: #ffffff

.callout
	position: relative
	top: 0
	right: 0
	width: 33%
	height: 27vw
	background-position: center
	-webkit-background-size: cover
	background-size: cover
	text-align: left
	&:hover
		&::after
			background-color: rgba(#000, .6)
	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(#000, .4)
		transition: background-color .2s ease-in-out
	&__info
		position: absolute
		left: 30px
		bottom: 25px
		text-align: left
		z-index: 3
	&__heading
		color: #ffffff
		font-size: 42px
		font-weight: 300
		letter-spacing: 3px
		line-height: 1
		text-transform: uppercase
		margin-bottom: 15px

.overlay.auto, .overlay.master
	display: none
	&__container
		width: 100%
		justify-content: flex-start
	.mega-menu
		width: 33.3333%
		&__list
			width: 100%
			margin: 0 auto
			padding-left: 0
		&__callout
			width: 33.3333%

.overlay.primary
	&::before
		background: #000
	.mega-menu
		padding-top: 80px
		&__list
			padding-right: 60px
			border-right: 1px solid #333

.mega-menu-mobile
	text-align: center
	&__list
		list-style-type: none
		margin-bottom: 40px
		display: flex
	&__item
		display: inline-block
		padding: 0 30px 30px 30px
	&__link
		color: #ffffff
		font-size: 16px
		letter-spacing: 3px
		line-height: 1.5
		text-transform: uppercase
		transition: color .2s ease-in-out
		&:hover
			color: $accent
	&--right
		float: right
		margin-right: 30px
		margin-left: 30px
		[class*='icon']
			color: #ffffff

// overlay end ============================================

// media-hero start ==========================================

.content
	//position: relative
	//z-index: 1

.media-hero
	position: absolute
	top: 0
	left: 0
	+wrapper-full
	width: 100%
	height: 100vh
	z-index: 1
	margin-left: 10vh
	&__wrap
		+row-flex
		height: 100%
	&__center
		+size(6)
		max-width: 550px
		align-items: center
		align-self: center
		color: #ffffff
		text-shadow: 2px 2px 1px #0C0C80

.media-hero__title
	font-size: 70px
	text-transform: uppercase
	line-height: 1.1
	span
		color: #a64a4a

.media-hero__country
	font-size: 28px
	display: inline-block
	line-height: 1.1
	margin-right: 20px
	padding-bottom: 20px

.media-hero__text
	font-size: 14px
	line-height: 1.8
	margin-bottom: 30px

.media-hero__link, .link
	position: relative
	display: inline-block
	text-transform: uppercase
	color: #ffffff
	padding-top: 10px
	letter-spacing: 4px
	font-weight: bold
	text-rendering: optimizelegibility
	transition: all .15s ease-in-out
	text-decoration: none
	outline: none
	&:hover
		color: $accent
		&::before
			width: 35px
			opacity: .75
	&::before
		content: ''
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		width: 100%
		height: 3px
		background-color: $accent
		transition: all .15s ease-in-out

.media-video
	display: block
	position: absolute
	top: 0
	left: 0
	object-fit: contain
	width: 100%
	height: auto
	max-height: calc(100% - 10px)
	vertical-align: baseline
	z-index: 0

.homepage-hero-module
	border-right: none
	border-left: none
	position: relative

.no-video .video-container video, .touch .video-container video
	display: none

.no-video .video-container .poster, .touch .video-container .poster
	display: block !important

.video-container
	position: relative
	bottom: 0%
	left: 0%
	height: 100%
	width: 100%
	overflow: hidden
	background: #000
	.poster img
		width: 100%
		bottom: 0
		position: absolute
	.filter
		z-index: 100
		position: absolute
		background: rgba(0, 0, 0, 0.4)
		width: 100%
	video
		position: absolute
		z-index: 0
		bottom: 0
		&.fillWidth
			width: 100%

// media-hero end ==========================================

// newsletter start ==========================================

.newsletter
	background-color: #1f1f1f
	padding: 100px 20px
	text-align: center
	color: #ffffff
	width: 100%
	&__wrap
		width: 100%

.newsletter__heading
	font-size: 42px
	text-transform: uppercase
	letter-spacing: 2.9px
	line-height: 1.2

.newsletter__subheading
	font-size: 18px
	text-transform: uppercase
	letter-spacing: 1.2px
	margin-bottom: 20px
	margin-top: 8px

.form
	text-align: center
	position: relative
	input[type='email']
		color: #828282
		background-color: #303030
		font-size: 18px
		padding: 15px 20px
		max-width: calc(100% - 50px)
		border: none!important
		vertical-align: top
		outline: none!important
		letter-spacing: 0.55px
		width: 485px
		&::-moz-focus-inner
			border: none!important
			outline: none!important
		&:focus, &:active
			border: none !important
			outline: none !important
			outline-offset: 0
	input[type='submit']
		position: relative
		left: -4px
		width: 54px
		height: 53px
		background-color: #303030
		cursor: pointer
		border: none

.input-wrap
	position: relative
	display: inline-block
	&::before
		content: '\f105'
		position: absolute
		display: inline-block
		top: 0
		left: 16px
		font-family: 'fontello', sans-serif
		font-size: 30px
		z-index: 2
		cursor: pointer

// newsletter end ==========================================

// news start ==========================================

.news
	padding: 9.5em 3.5em

.news__wrapper
	+wrapper
	text-align: center
	color: #444
	max-width: 700px !important

.news__heading, .heading
	font-size: 42px
	letter-spacing: 4px
	line-height: 1em
	text-transform: uppercase
	margin-bottom: 15px
	-ms-word-wrap:
	word-wrap: break-word
	font-weight: 300

.news__subheading, .subheading
	font-size: 18px
	font-weight: 300
	letter-spacing: 1.8px
	line-height: 1.2em
	text-transform: uppercase
	word-wrap: break-word
	margin-bottom: 15px

.news__text
	font-size: 16.8px
	line-height: 1.5
	margin-bottom: 30px

.news__link
	color: inherit

// news end ==========================================

// hiring start ==========================================

.hiring
	display: flex

.half-image
	width: 50%
	height: auto
	background-position: center
	background-repeat: no-repeat
	-webkit-background-size: cover
	background-size: cover

.half-text
	width: 50%
	padding: 10em 4em
	text-align: center
	text-transform: uppercase
	background-color: #1f1f1f
	color: #ffffff
	overflow-wrap: break-word
	.heading
		margin-bottom: 20px
	.subheading
		margin-bottom: 20px
	.description
		text-transform: none
		margin-bottom: 30px

// hiring end ==========================================

// product start ==========================================

.product
	max-width: 1688px
	padding: 0
	margin: 0 auto
	position: relative

.product__text
	width: 33%
	padding-left: 90px
	padding-right: 50px
	margin: auto 0
	.heading
		margin-bottom: 10px
		font-size: 30px
	.subheading
		margin-bottom: 15px
		color: #9b9b9b
		font-size: 16px
	.description
		font-size: 14px
		margin-bottom: 25px
		color: #333
		font-weight: 300

.product__link
	color: inherit

.content-wrapper
	display: flex
	max-width: 1688px

.helmet
	width: 66%

.helmet__list
	display: block
	list-style-type: none
	padding: 60px 0
	position: relative
	z-index: 1

.helmet__item
	position: relative
	display: inline-block
	vertical-align: bottom
	text-align: center
	width: 32%
	&:hover
		.helmet__info
			visibility: visible
			opacity: 1
			transform: translate(-50%, 0)

.helmet__link
	display: inline-block
	padding-bottom: 50px
	width: 100%
	position: relative
	outline: none

.helmet__img
	max-width: 100%
	max-height: 100%
	padding-left: 15px
	padding-right: 15px

.helmet__info
	position: absolute
	left: 50%
	transform: translate(-50%, -10px)
	width: 100%
	opacity: 0
	visibility: hidden
	transition: all .2s ease-in-out
	z-index: 2

.helmet__title, .helmet__price
	text-transform: uppercase
	font-size: 20px
	line-height: 1.1
	letter-spacing: 1px
	text-shadow: -1px -1px 2px #ffffff

.helmet__price
	line-height: 1.5

// product end ==========================================

// tout start ==========================================

.tout-wrapper
	display: flex

.tout
	width: 33.33333%
	height: 22vw
	padding: 0
	overflow: hidden
	background-color: #1f1f1f
	color: #ffffff
	&__link
		display: table
		position: relative
		width: 100%
		height: 100%
		overflow: hidden
		transition: all .2s ease-in-out
		&:hover
			.tout__background
				transform: scale(1.03)
				&::after
					background-color: rgba(0,0,0,.25)
	&__background
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-repeat: no-repeat
		-webkit-background-size: cover
		background-size: cover
		background-position: center center
		transform: scale(1)
		transition: transform .4s ease-in-out
		&::after
			position: absolute
			content: ''
			top: 0
			left: 0
			width: 100%
			height: 100%
			transition: background-color .2s ease-in-out
			background-color: rgba(0,0,0, .15)

.tout__content
	display: table-cell
	vertical-align: middle
	padding: 2em 0
	max-width: 480px
	text-align: center

.tout__heading
	position: relative
	font-size: 30px
	font-weight: 300
	letter-spacing: 3px
	line-height: 1.2
	margin-bottom: 15px
	text-transform: uppercase
	z-index: 2
	color: #ffffff

// tout end ============================================

// wear start ============================================

.wear-image
	width: 66%
	padding: 60px 30px 60px

.wear-text
	width: 33%
	padding: 0 50px
	margin: auto 0
	.subheading
		color: #9b9b9b
	.description
		margin-bottom: 25px
		opacity: .75

// wear end ============================================

// inata start ============================================

.insta
	display: flex
	width: 100%
	max-width: 100%
	position: relative

.insta-large
	width: 40%
	height: 40vw
	overflow: hidden
	&__link
		display: block
		width: 100%
		height: 100%
		&:hover
			.insta-large__background
				transform: scale(1.03)
	&__background
		width: 100%
		height: 100%
		-webkit-background-size: cover
		background-size: cover
		background-position: 10% 50%
		transform: scale(1)
		transition: all .2s ease-in-out

.insta-double
	width: 60%
	height: 40vw

.insta-tertiary
	height: 20vw
	padding: 3.8em 3em
	&__left
		float: left
		width: 50%
		max-width: 350px
	&__right
		float: right
		width: 50%
		color: #333
		font-size: 16px

.insta-tertiary__subtitle
	font-size: 18px
	line-height: 1.4
	font-weight: 300
	letter-spacing: 1.8px
	text-transform: uppercase
	color: #444

.insta-tertiary__title
	font-size: 42px
	line-height: 1.2
	letter-spacing: 4.2px
	text-transform: uppercase
	font-weight: 300
	color: #444

.insta-tertiary__text
	line-height: 1.5
	margin-bottom: 15px
	opacity: .75
	a
		opacity: .75

.insta-tertiary__link
	color: inherit

.insta-secondary
	display: flex
	height: 20vw
	&__link
		width: 33.33333%
		height: auto
		overflow: hidden
		&:hover
			.insta-secondary__background
				transform: scale(1.03)
	&__background
		width: 100%
		height: 100%
		-webkit-background-size: cover
		background-size: cover
		background-position: 50% 50%
		transform: scale(1)
		transition: all .2s ease-in-out

// insta end ============================================

// theme start ============================================

.theme-dark
	width: 100%
	padding: 100px 0
	text-align: center
	background-color: #1f1f1f
	color: #ffffff
	text-transform: uppercase
	&__title
		font-size: 160px
		line-height: 1.4
		font-weight: 300
		letter-spacing: .125em
		color: #ffffff
	&__subtitle
		font-size: 18px
		letter-spacing: 1.8px
		font-weight: 300
		color: #9b9b9b
		line-height: 1
	&__divider
		display: inline-block
		position: relative
		top: 1px
		width: 1px
		height: 100px
		background-color: #666
		margin-top: 50px

// theme end ============================================

// entries start ============================================

.bg-overlay
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,.3)
		transition: all .2s ease-in-out
	&:hover
		&::before
			background-color: rgba(0,0,0,.4)

.entries
	position: relative
	width: 100%
	height: 62.5vw
	display: flex
	&__large
		position: relative
		width: 50%
		height: 100%
		-webkit-background-size: cover
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		overflow: hidden
	&__double
		width: 50%
		height: 100%
		background-color: #1f1f1f
		overflow: hidden

.entries__small
	&--top
		position: relative
		top: 0
		left: 0
		display: block
		width: 100%
		height: 50%
		-webkit-background-size: cover
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		z-index: 1
	&--bottom
		position: relative
		left: 0
		bottom: 0
		display: block
		width: 100%
		height: 50%
		-webkit-background-size: cover
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		z-index: 1

.entries
	&__info
		position: absolute
		left: 0
		bottom: 0
		padding: 0 50px 80px
		text-align: left
		text-transform: uppercase
		color: #ffffff
	&__title
		font-size: 42px
		font-weight: 300
		letter-spacing: 4px
		line-height: 1
		opacity: 1
		margin-bottom: 8px
	&__subtitle
		font-size: 20px
		font-weight: 300
		letter-spacing: 3px
		line-height: 1.2
		opacity: .6

// entries end ============================================

// footer start ============================================

.main-footer
	width: 100%
	display: block
	&__wrapper
		width: 1120px
		position: relative
		padding-left: 30px
		padding-right: 30px
		margin: 0 auto
		+clearfix
	&__nav
		padding-top: 100px
		padding-bottom: 100px
		+clearfix

.footer__title, .footer__title > a
	color: $accent
	font-size: 14.4px
	font-weight: 600
	letter-spacing: 0.5px
	line-height: 21px
	margin-bottom: 20px
	margin-top: 0
	text-transform: uppercase
	transition: color .2s ease-in-out
	&:hover
		color: darken($accent, 5%)

.footer-newsletter
	width: 280px
	float: right
	&__title
		color: #000
		font-size: 30px
		font-weight: 300
		line-height: 1.2
		letter-spacing: 3.5px
		text-transform: uppercase
		margin-bottom: 40px
	&__underline
		width: 100%
		height: 6px
		margin-top: 8px
		background-color: #000

.footer__input
	width: 230px
	border: 2px solid #ffffff
	font-size: 18px
	font-weight: 400
	line-height: 20px
	color: #000

.footer__submit
	color: $accent
	float: right
	padding: 3px 0
	border: none
	outline: none
	background-color: transparent
	cursor: pointer
	font-size: 14px
	font-weight: 400
	letter-spacing: 1.2px
	line-height: 1.2

.footer-nav
	float: left
	&__list
		float: left
		width: 155px
		padding-left: 0
		margin-right: 15px
		list-style-type: none
	&__item
		float: left
		width: 100%
		margin-right: 22px
	&__link
		display: inline-block
		font-size: 16px
		line-height: 1.5
		margin-bottom: 5px
		color: #888
		outline: none
		transition: color .2s ease-in-out
		&:hover
			color: #000

.main-footer__info
	position: relative
	width: 100%
	min-height: 100px
	margin-bottom: 100px

.footer-info__logo
	height: 36px
	width: 120px
	display: inline-block
	margin-bottom: 15px
	overflow: hidden
	span
		position: relative
		display: block
		height: 36px
		background-position: center
		-webkit-background-size: cover
		background-size: cover
		z-index: 3

.footer-info
	&__list
		float: right
		height: 36px
		margin-bottom: 15px
		list-style-type: none
	&__item
		display: inline-block
		margin-right: 10px
		&:hover
			[class*='icon']
				color: $accent
	&__link
		height: 18px
		vertical-align: top
		[class*='icon']
			font-size: 16px
			transition: color .2s ease-in-out

.footer-info
	&__legal
		float: right
		clear: right
		margin-top: 8px
		a
			position: relative
			font-size: 14px
			color: #4a4a4a
			line-height: 1.5
			display: inline-block
			&:hover
				color: lighten(#4a4a4a, 20%)
		.divider
			position: relative
			display: inline-block
			top: 1px
			width: 2px
			height: 10px
			margin: 0 5px
			background-color: #000

// footer end ============================================

@import "media" // Всегда в конце
